.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(24, 144, 255, 1);
    margin-bottom: 4px;
    display: inline-block;
    margin-right: 13px;
}

.text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
}
.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
}

.authorInfo {
    text-align: right;
    margin-right: 12px;
}

.heart:hover {
    transform: scale(1.2);
}
.heart {
    padding: '5px';
}
